<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="HandheldFriendly" content="True" />
	<meta name="description" content="{{meta_description}}" />
	<meta name="author" content="{{meta_author}}">

	<title>{{meta_title}}</title>
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/prism-atom-dark.css">
	<link rel="stylesheet" href="/assets/css/haunt.css">

	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		
	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>

<body class="{{body_class}}">
	<div class="blog-header">
		<div class="container">
			<h1 class="blog-title"><a href="{{@blog.url}}"><i class="fa fa-battery-1 blog-logo"></i> {{@blog.title}}</a></h1>
			<p class="lead blog-description">{{@blog.description}}</p>
		</div><!-- /.container -->
	</div><!-- /.blog-header -->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 blog-main">
				{{{body}}}
			</div><!-- /.blog-main -->
			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
					<h4>About me</h4>
					<a href="/author/jared"><img src="{{@blog.logo}}" /></a>
				</div>
				<div class="sidebar-module">
					<h4>Elsewhere</h4>
					<ol class="list-unstyled">
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Github</a></li>
					</ol>
				</div>
				{{#post}}
				<div class="sidebar-module">
					{{#prev_post}}
					<p>Previously: 
					<a href="{{url}}">{{title}}</a>
					</p>
					{{/prev_post}}
					{{#next_post}}
					<p>Up next:
					<a href="{{url}}">{{title}}</a>
					</p>
					{{/next_post}}
				</div>
				{{/post}}
			</div><!-- /.blog-sidebar -->
		</div><!-- /.row -->
	</div><!-- /.container -->
	{{! The tag below includes the post loop - partials/loop.hbs }}
	{{> "footer"}}

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}
<script src="/assets/js/prism.js"></script>
</body>
</html>
